<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment3">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quiz App"
        android:roundIcon="@drawable/quiz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".App.DashboardActivity"></activity>
        <activity android:name=".App.ResultActivity" android:parentActivityName=".App.DashboardActivity"/>
        <activity android:name=".App.LeaderboardActivity"  android:parentActivityName=".App.DashboardActivity"/>
        <activity android:name=".App.QuizOptions" android:parentActivityName=".App.DashboardActivity"/>
        <activity android:name=".App.RegisterActivity" />
        <activity android:name=".App.MainActivity" />
        <activity android:name=".App.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>